.react-responsive-3d-carousel__indicators__item svg {
  width: 3rem !important;
  height: 3rem !important;
}

.react-responsive-3d-carousel__carousel__list__item__content {
  display: flex;
  justify-content: center;
}

.react-responsive-3d-carousel__carousel__list {
  height: 73% !important;
}

.react-responsive-3d-carousel__arrows.left {
  left: 100px;
}

.react-responsive-3d-carousel__arrows.right {
  right: 100px;
}

.country-image img {
  border: none;
  border-radius: 50%;
  height: 75%;
}
.carousel{
  box-shadow: none;
}
.react-responsive-3d-carousel__carousel {
  padding: 1rem 0 1rem 0 !important;
}

.react-responsive-3d-carousel__carousel__list__item {
    box-shadow: none !important;
    box-shadow: none;
}

.react-responsive-3d-carousel__carousel{
  padding: 4rem 0 0 0;
}

.carousel-element p {
  position: absolute;
  font-size: 20px;
  color: white;
  font-weight: bold;
  transform: translate(-50%, -50%);
  top: 38%;
  left: 50%;
  cursor: pointer;
}

.carousel-element p:hover {
  color: #00cfc8;
}

.carousel-container {
  width: 70%;
  margin: 0 auto;
  z-index: -0;
}
.carousel-element {
  position: relative;
}

body {
  background: rgb(0, 177, 190);
  background: radial-gradient(
    circle,
    rgba(0, 177, 190, 1) 0%,
    rgba(42, 42, 42, 0.9934567577030813) 96%
  );
}

@media (max-width: 767px) {
  .react-responsive-3d-carousel__arrows svg {
    width: 5rem;
    padding: 20px 0;
  }
  .country-image {
    height: 100%;
  }
  .carousel-element p {
    font-size: 15px;
  }
}
