.fav-recipe-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-content: center;
  margin: 20px 30px;
}

.fav-recipe-name {
  padding: 20px 0px;
  margin: 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.fav-small-img {
  height: 200px;
  width: 200px;
}

.fav-recipe-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 3px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  color: black;
  height: 255px;
}

@media (max-width: 1200px) {
  .fav-recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    margin: 20px 30px;
  }
}
@media (max-width: 950px) {
  .fav-recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 20px 20px;
  }
}

@media (max-width: 730px) {
  .fav-recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px 10px;
  }
  .fav-small-img {
    height: 150px;
    width: 150px;
  }
  .fav-recipe-card {
    height: 190px;
  }
  .fav-recipe-name {
    padding: 10px 0px;
    font-size: 10px;
  }
}
@media (max-width: 370px) {
  .fav-small-img {
    height: 130px;
    width: 130px;
  }
}
