.cuisine {
  color: #00cfc8;
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
}

.suggestion {
  color: #00cfc8;
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin: 0 10px 10px 10px;
}

.refresh-button{
  color: #009c97;
  background-color: #2a2a2a;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
  width: 30px;
}

@media (max-width: 767px) {
.suggestion{
  font-size: 13px;
}
}
