.recipies-grid {
  margin: 0 80px;
}

.all-recipes-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-content: center;
}

@media (max-width: 767px) {
  .all-recipes-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

.recipe-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
}

p.recipe-name {
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 13px;
}

.small-img {
  height: 180px;
  border: none;
  border-radius: 10px;
}

.fav-hearts {
  margin-bottom: 10px;
}

.recipe-description {
  font-size: 11px;
  margin-bottom: 2px;
}
.recipe-cooktime {
  padding-left: 2px;
}

.recipe-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 11px;
}
.recipe-details p {
  margin-bottom: 5px;
}
