.shop-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 20px auto;
  font-size: 13px;
}

@media (max-width: 767px) {
  .shop-card {
    display: block;
    padding: 12px;
    width: 100%;
  }
  .shop-grid{
    width: 80%;
  }
}

.shop-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
  width: auto;
}
