.shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  justify-content: center;
  align-items: center;
  /* width: 30%; */
  margin: 40px 40px;
  font-size: 13px;
}

.shop-card {
  background: rgba(201, 207, 207, 1);
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding: 5px;
  height: 230px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: grid;
  overflow: scroll;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  color: black;
  width: auto;
}

.sb-name{
  text-transform: uppercase;
  margin: 0 0 10px;
}

@media (max-width: 767px) {
  .shop-grid {
    grid-template-rows: repeat(1, 1fr);
    width: 90%;
    margin: 10px 20px;
  }
  .shop-card {
    display: block;
    padding: 10px;
  }
  .sb-name{
    font-size: 12px;
    margin: 0 0 5px;
  }
  .sb-info{
    font-size: 10px;
  }
  ul{
    margin-bottom: 0px;
  }
}
