.one-tip-card {
  display: flex;
  background: rgba(201, 207, 207, 1);
  margin: 20px 260px 10px 260px;
  border-radius: 10px;
  padding: 20px;
}
.one-tip-img {
  height: 300px;
  border-radius: 50%;
  margin: 10px 0;
  border: 2px solid #2a2a2a;
}

.tip-image-wrapper {
  flex: 1;
  margin: 20px 0px 0px 20px;
  text-align: center;
}

.tip-wrapper {
  flex: 2;
  margin: 20px 20px;
  padding-left: 10px;
  text-align: start;
  font-size: 15px;
}

.one-tip-description {
  font-size: 13px;
}
.tip-name {
  text-transform: uppercase;
}

@media (max-width: 1500px) {
  .one-tip-card {
    margin: 20px 200px 10px 200px;
    border-radius: 10px;
  }
}
@media (max-width: 1250px) {
  .one-tip-card {
    margin: 20px 100px 10px 100px;
    border-radius: 10px;
  }
}
@media (max-width: 1050px) {
  .one-tip-card {
    margin: 20px 50px 10px 50px;
    border-radius: 10px;
  }
}

@media (max-width: 767px) {
  .one-tip-card {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px;
  }

  .one-tip-img {
    height: 180px;
  }

  .tip-wrapper {
    margin: 0;
  }

  .tip-image-wrapper {
    margin: 10px 0 0 0;
  }
  .tip-wrapper {
    text-align: start;
  }
  .tip-name{
    text-align: center !important;
  }
  .one-tip-description {
    font-size: 11px;
    margin: 0 0 5px;
  }
  .tips-description {
    font-size: 11px;
  }
}
